// variables
$primary-color: red;
$text-lg-size: 5rem;

h1 {
  background-color: $primary-color;
  font-size: $text-lg-size;
}
// Nesting
div {
  ul {
    a {
      font-size: $text-lg-size;
    }
  }
  p {
    background-color: aqua;
  }
}
// mixin
@mixin border($value) {
  border: $value solid black;
}

p {
  @include border(2px);
}
