$primary-color: red;
$text-lg-size: 10rem;

h1 {
  background-color: $primary-color;
  font-size: $text-lg-size;
}

div {
  ul {
    a {
      font-size: $text-lg-size;
    }
  }
  p {
    background-color: aqua;
  }
}
